---
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
---

<footer class="border-t border-gray-800 mt-10">
  <div
    class="flex flex-nowrap justify-between items-center w-full max-w-screen-xl mx-auto p-2 md:py-8"
  >
    <div
      class="flex-col md:flex-row justify-between items-center gap-2 mb-4 md:mb-0"
    >
      <img
        src="/svg/rd.svg"
        class="size-8 bg-white rounded-full mx-auto"
        alt="ArdyX Logo"
      />
      <span class="text-base md:text-xl font-semibold text-gray-200">ArdyX</span
      >
    </div>
    <span class="text-sm md:text-lg text-gray-500 mb-4 md:mb-0 ps-2 md:ps-0">
      © {new Date().getFullYear()} Desarrollado con amor por ArdyX.
    </span>
    <ul
      class="flex flex-wrap justify-center gap-4 text-sm md:text-lg text-gray-500"
    >
      <li>
        <a
          href="#top"
          class="hover:text-cyan-400 transition-colors duration-300">Inicio</a
        >
      </li>
      <li>
        <a
          href="#experience"
          class="hover:text-cyan-400 transition-colors duration-300"
          >Experiencia</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="hover:text-cyan-400 transition-colors duration-300"
          >Proyectos</a
        >
      </li>
    </ul>
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-4 md:gap-6"
    >
      <a
        href="https://github.com/David-Dev21/"
        class="text-gray-400 hover:text-cyan-400 transition-colors duration-300"
        target="_blank"
      >
        <GitHubIcon class="size-6" />
      </a>
      <a
        href="https://www.linkedin.com/in/david-mamani-a3b745352/"
        class="text-gray-400 hover:text-cyan-400 transition-colors duration-300"
      >
        <LinkedInIcon class="size-6" />
      </a>
      <a
        href="mailto:rubendavid.rd21@gmail.com"
        class="text-gray-400 hover:text-cyan-400 transition-colors duration-300"
        target="_blank"
      >
        <MailIcon class="size-6" />
      </a>
    </div>
  </div>
</footer>
