<header class="flex justify-center items-center py-5 w-full xl:w-6xl mx-auto">
  <nav class="flex flex-row gap-x-3 xl:gap-x-10">
    <a
      href="#top"
      class="text-gray-300 hover:text-cyan-200/90 transition-colors duration-300 relative after:absolute after:bottom-0 after:left-0 after:bg-cyan-200/90 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:duration-300"
      >Inicio</a
    >
    <a
      href="#experience"
      class="text-gray-300 hover:text-cyan-200/90 transition-colors duration-300 relative after:absolute after:bottom-0 after:left-0 after:bg-cyan-200/90 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:duration-300"
      >Experiencia</a
    >
    <a
      href="#projects"
      class="text-gray-300 hover:text-cyan-200/90 transition-colors duration-300 relative after:absolute after:bottom-0 after:left-0 after:bg-cyan-200/90 after:h-0.5 after:w-0 hover:after:w-full after:transition-all after:duration-300"
      >Proyectos</a
    >
  </nav>
</header>
